footer {
  background-color: white;
  font-size: 14px;
  position: relative;
}
footer .wrap {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 1fr;
  grid-template-rows: auto 70px auto;
  row-gap: 20px;
}
footer .wrap h1 {
  grid-column: 1;
  grid-row: 1 / span 4;
}
footer .wrap h1 a {
  font-size: 0;
  background-image: url(../img/lotte-members.png);
  width: 130px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
}
footer .wrap ul.fnb {
  grid-column: 2 / span 2;
  grid-row: 1;
}
footer .wrap ul.fnb li {
  
}
footer .wrap ul.fnb li a {
  padding: 0 20px;
  line-height: 2;
  display: block;
  color: #555;
  font-size: 14px;
}
footer .wrap ul.fnb li:nth-child(1) a{
  padding-left: 0;
}
footer .wrap ul.fnb li a:hover {
  color: #333;
}
footer .wrap u, footer .wrap .sns {
  gap: 15px;
}
footer .wrap u li, footer .wrap .sns li {
  
}
footer .wrap u li a, footer .wrap .sns li a {
  font-size: 0;
}
footer .wrap u li a, footer .wrap .sns li a i{
  font-size: 31px;
  color: #999;
}
footer .wrap address {
  grid-column: 2 / span 3;
  grid-row: 2;
  color: #555;
}
footer .wrap address a {
  
  font-size: 14px;
  color: #555;
}
footer .wrap > p {
  
  font-size: 14px;
}
footer .wrap .combobox {
  grid-column: 3 / span 2;
  grid-row: 3;
  gap: 7px;
}
footer .wrap .combobox .partner {
  
}
footer .wrap .combobox .partner button {
  
  width: 200px;
  height: 40px;
  display: block;
  border: 1px solid #ccc;
  text-align: left;
  padding-left: 20px;
  box-sizing: border-box;
  cursor: pointer;
}
footer .wrap .combobox .partner dl {
  
}
footer .wrap .combobox .partner dl dt {
  
}
footer .wrap .combobox .partner dl dd {
  
}
footer .wrap .combobox .lang {
  
}
footer .wrap .combobox .lang button {
  width: 200px;
  height: 40px;
  display: block;
  border: 1px solid #ccc;
  text-align: left;
  padding-left: 20px;
  box-sizing: border-box;
  background-color: white;
  cursor: pointer;
}
footer .wrap .combobox .lang ul {
  
}
footer .wrap .combobox .lang ul li {
  
}
footer .wrap .combobox .lang ul li a {
  
}
a.top{
  width: 40px;
  height: 40px;
  display: block;
  box-shadow: 0 0 5px #cbc4c4;
  border-radius: 50%;
  position: absolute;
  right: calc((100% - 1080px) / 2 - 40px);
  top: -80px;
  text-align: center;
  line-height: 40px;
  background-color: white;
}